@{
    Layout = null;
    ViewData["Title"] = "UnAuthorized";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>

    <div>
        <h4>@ViewData["Title"]</h4>
        <hr />

    </div>
</body>
</html>
