@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Access Denied</title>
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css">

    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 100px;
        }

        h1 {
            text-align: center;
            font-size: 36px;
            color: #dc3545;
        }

        p {
            text-align: center;
            font-size: 18px;
        }

        .btn {
            margin-top: 20px;
            display: block;
            width: 150px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Access Denied</h1>
        <p>You are not authorized to access this page.</p>
        <a href="/" class="btn btn-primary">Go to Home</a>
    </div>

    <!-- jQuery -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
