<ul class="navbar-nav ml-auto">

    <!-- Messages Dropdown Menu -->
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="fas fa-question-circle"></i>
        </a>
      
    </li>
    <!-- Notifications Dropdown Menu -->
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="fas fa-bell"></i>
        </a>
    </li>
    @*<li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
            <span class="mr-2"> Alexander Pierce</span>
            <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
            <a href="#" class="dropdown-item text-center">
                Logout
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>
    </li>*@
</ul>